<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Study</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <input v-model="message">
    <input v-model.number="count">
    <ol>
      <li v-for="item in list">
        {{ item }}
      </li>
    </ol>
    <transition>
        <p v-if="show">表示される</p>
    </transition>
    <button v-on:click="handleClick">Click</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
